<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>이름</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bus : ${buses}">
            <td th:text="${bus.id}"></td>
            <td th:text="${bus.time}"></td>
            <td th:text="${bus.busId}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>